<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bunker.collegeProject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:theme="@style/newTheme"
            android:name="com.bunker.collegeProject.Attendance_Second_Screen"/>
        <activity
            android:theme="@style/newTheme"
            android:name="com.bunker.collegeProject.Events_Second_Screen"/>
        <activity android:name="com.bunker.collegeProject.MainActivity" />
        <activity android:name="com.bunker.collegeProject.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>